{% extends 'movies/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>

    <div class="auth-box">
        <form method="post" class="styled-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
        <p class="auth-footer">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
{% endblock %}
