{% extends 'movies/base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
    <h1>Реєстрація</h1>

    <div class="auth-box">
        <form method="post" class="styled-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Зареєструватися</button>
            </div>
        </form>
        <p class="auth-footer">Вже маєте акаунт? <a href="{% url 'login' %}">Увійти</a></p>
    </div>
{% endblock %}
